<div class="container">
  <div class="row" style="height:50px;">

  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col centered">
        <div class="col-sm-1" style="width:40px;">

        </div>
        <div class="col-sm-3 rounded" style="border: 1px solid #e83338ff;
        height:350px;width:270px;background-color:white;">
          <div class="row">
            <h3 class="text-center">Buscar Personas</h3>
          </div>
          <div class="row" style="height:220px;">
            <div class="col-sm-1" style="width:90%;">
              <p><small>Si buscas a alguien en la empresa, pero no sabes cómo contactarla
                o quíen es, con esta herramienta podrás a encontrar y contactar a
                esa  persona </small></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <a href=<%= welcome_index_path %>
                class="btn btn-primary active allign-middle" role="button"
               aria-pressed="true" style="width:75px;background-color:#e83338ff;
               border-color:#e83338ff;">Buscar</a>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-4" style="border: 1px solid #e83338ff;
        height:350px;width:270px;background-color:white;">
          <div class="row">
            <h3 class="text-center">Preguntas Frecuentes</h3>
          </div>
          <div class="row" style="height:220px;">
            <div class="col-sm-1" style="width:90%;">
              <p><small>Si tienes una pregunta o si quieres saber de un tema en
                particular, esta herramienta te ayuda a ver si ya se respondio
                antes o podrás encontrar a alguien te pueda ayudar.</small></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <a href=<%= welcome_index_path %>
                class="btn btn-primary btn-red active allign-middle" role="button"
               aria-pressed="true" style="width:75px;background-color:#e83338ff;
               border-color:#e83338ff;">Buscar</a>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-3" style="border: 1px solid #e83338ff;
        height:350px;width:270px;background-color:white;">
          <div class="row">
            <h3 class="text-center">Requerimientos</h3>
          </div>
          <div class="row" style="height:220px;">
            <div class="col-sm-1" style="width:90%;">
              <p><small>Si necesitas ayuda en algo que no puedes resolver por
                tu cuenta, esta herramienta te redirigirá a la plataforma de
                tickets/requerimientos.</small></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <a href=<%= welcome_index_path %>
                class="btn btn-primary active allign-middle" role="button"
               aria-pressed="true" style="width:75px;background-color:#e83338ff;
               border-color:#e83338ff;">Ir</a>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
