/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* navbar */
.navbar-default {
    background-color: #e83338ff;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}


/* button */
.btn-red {
   color: #e83338ff;
   background-color: #e83338ff;
   border-color: #e83338ff;
}


/* text */
.h-red {
  color: #e83338ff;
}

.l-light {
  color: #b7b7b7;
}

.l-mid {
  color: #666666;
}

.profilepic {
  height: 500px;
  width: 500px;
  border: 1px solid;
}
.user {
    width: 180px;
    height: 270px;
    display: inline;
}
.user h5 {
    text-align: center;
}
.user h6 {
    text-align: center;
}
.aForuser:visited, .aForuser:link,
.aForuser:active, .aForuser:focus {
    color:black;
    background-color: white;
    display: inline-block;
    text-decoration:none;
    outline: 0;
    height: 270px;
    width: 180px;
}
.aForuser:hover {
    color:black;
    background-color: white;
    opacity: 0.4;
    display: inline-block;
    text-decoration:none;
    outline: 0;
    height: 270px;
    width: 180px;
}
.user-pic {
  border-radius: 50%;
}

.question {
    width: 1000px;
    height: 180px;
    display: inline;
}
.question h3 {
    text-align: center;
}
.question h5 {
    text-align: center;
}
.question h6 {
    text-align: center;
}
.aForquestion:visited, .aForquestion:link,
.aForquestion:active, .aForquestion:focus {
    color:black;
    background-color: white;
    display: inline-block;
    text-decoration:none;
    outline: 0;
    height: 180px;
    width: 1000px;
}
.aForquestion:hover {
    color:black;
    background-color: white;
    opacity: 0.4;
    display: inline-block;
    text-decoration:none;
    outline: 0;
    height: 180px;
    width: 1000px;
}
